# Gradle
.gradle/
**/build/
out/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store

# Android
local.properties
captures/
*.keystore
*.jks
*.keystore.properties

# Kotlin / misc
.kotlinc/
.kotlin/

# iOS / Xcode
iosApp/Pods/
iosApp/Podfile.lock
DerivedData/
**/*.xcuserdata/
**/*.xcuserstate
**/*.xcworkspace